[
  {
    label: '{{ productName }}'
    submenu: [
      { label: 'About {{ productName }}', role: 'about' }
      { label: 'Check for Update', command: 'application:check-for-update' }
      { type: 'separator' }
      { label: 'Preferences...', command: 'application:show-settings' }
      { label: 'Services', role: 'services', submenu: [] }
      { type: 'separator' }
      { label: 'Hide {{ productName }}', accelerator: 'Command+H', role: 'hide' }
      { label: 'Hide Others', accelerator: 'Command+Shift+H', role: 'hideothers' }
      { label: 'Show All', role: 'unhide' }
      { type: 'separator' }
      { label: 'Quit', accelerator: 'Command+Q', command: 'application:quit' }
    ]
  }

  {
    label: 'Edit'
    submenu: [
      { label: 'Undo', accelerator: 'Command+Z', role: 'undo' }
      { label: 'Redo', accelerator: 'Shift+Command+Z', role: 'redo' }
      { type: 'separator' }
      { label: 'Cut', accelerator: 'Command+X', role: 'cut' }
      { label: 'Copy', accelerator: 'Command+C', role: 'copy' }
      { label: 'Paste', accelerator: 'Command+V', role: 'paste' }
      { label: 'Select All', accelerator: 'Command+A', role: 'selectall' }
    ]
  }

  {
    label: 'View'
    submenu: [
      { label: 'Reload', accelerator: 'Command+R', command: 'window:reload' }
      { label: 'Reset Position & Size', accelerator: 'Command+Alt+R', command: 'window:reset' }
      { type: 'separator' }
      { label: 'Toggle Full Screen', accelerator: 'Command+Control+F', command: 'window:toggle-full-screen' }
      { label: 'Developer Tools', accelerator: 'Alt+Command+I', command: 'window:toggle-dev-tools' }
    ]
  }

  {
    label: 'Theme'
    submenu: [
      { type: 'radio', label: 'Default', command: 'application:update-theme', theme: 'default' }
      { type: 'radio', label: 'Grey', command: 'application:update-theme', theme: 'grey' }
      { type: 'radio', label: 'Pure', command: 'application:update-theme', theme: 'pure' }
      { type: 'radio', label: 'Dark', command: 'application:update-theme', theme: 'dark' }
    ]
  }

  {
    label: 'Window'
    role: 'window'
    submenu: [
      { label: 'Minimize', accelerator: 'Command+M', role: 'minimize' }
      { label: 'Zoom', accelerator: 'Alt+Command+Control+M', selector: 'zoom:' }
      { type: 'separator' }
      { label: 'Close', accelerator: 'Command+W', role: 'close' }
    ]
  }

  {
    label: 'Help'
    role: 'help'
    submenu: [
      { label: 'Report Issue', command: 'application:open-url', url: 'https://github.com/Aluxian/Whatsie/issues' }
      { label: 'Suggest Feature', command: 'application:open-url', url: 'https://github.com/Aluxian/Whatsie/issues' }
      { label: 'Email Developer', command: 'application:send-email', email: 'me@aluxian.com' }
      { type: 'separator' }
      { label: 'Donate PayPal', command: 'application:open-url', url: 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4YVCUBK2QJKBL' }
      { label: 'Donate Bitcoins', command: 'application:open-url', url: 'https://www.coinbase.com/checkouts/cf0d7f14d3413fdebcc0de9a2a934fdf' }
    ]
  }
]
