{
  "root": true,
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "extends": "standard",
  "globals": {
    "log": true,
    "logError": true,
    "logFatal": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "new-cap": 0,
    "array-bracket-spacing": 0,
    "object-curly-spacing": 0,
    "object-shorthand": 0,
    "arrow-parens": 0,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/array-bracket-spacing": 1,
    "babel/object-curly-spacing": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "babel/flow-object-type": 1,
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": [2, { "before": false, "after": true }],
    "padded-blocks": 0
  }
}
