{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-process-exit": 0,
    "no-fallthrough": 0
  }
}
