[Desktop Entry]
Name={{ productName }}
Comment={{ description }}
GenericName={{ genericName }}
Exec={{ name }}
Icon={{ name }}
Terminal=false
Type=Application
StartupNotify=true
Keywords={{ keywords }}
Categories={{ categories }}
