[Desktop Entry]
Name={{ productName }}
Comment={{ description }}
GenericName={{ genericName }}
Exec=/opt/{{ name }}/{{ name }} %U
Icon={{ name }}
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass={{ productName }}
Keywords={{ keywords }}
Categories={{ categories }}
X-GNOME-UsesNotifications=true
