[Desktop Entry]
Name={{ productName }}
Comment={{ description }}
GenericName={{ genericName }}
Exec=/opt/{{ name }}/{{ name }}
Icon={{ name }}
Terminal=false
Type=Application
StartupNotify=true
Categories={{ categories }}
