[Desktop Entry]
Name={{ productName }}
Comment={{ description }}
GenericName={{ genericName }}
Exec=/opt/{{ name }}/{{ name }} --os-startup
Icon={{ name }}
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass={{ productName }}
Keywords={{ keywords }}
Categories={{ categories }}
X-GNOME-UsesNotifications=true
