[Desktop Entry]
Version=1.0
Type=Application
Name=Messenger
Icon=messengerfordesktop
Exec=/opt/MessengerForDesktop/Messenger
Comment=Messenger for Desktop
Categories=Network;Chat;
Terminal=false
StartupWMClass=MessengerForDesktop