* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body, iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('../images/loading.gif');
  background-size: 24px 19px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

iframe {
  display: none;
}
