/* These styles will be appended after the selected theme. */

/* Remove the 'install mobile app' bar */
._s15 {
  display: none;
}

/* fixing the scrollbar bug in some languages*/
._kmc {
line-height: 1.29;
}

/* fix huge website previews */
._3058._15gf {
max-width: 800px;
}
