.loader {
  transition: opacity 250ms;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-user-select: none;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  opacity: 0;
}

.loader .spinner-container {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.loader .spinner-container .path {
  stroke: #0084ff;
  stroke-dasharray: 1, 150;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
