/* @source https://userstyles.org/styles/120511/dark-whatsapp */

/*BG login screen*/

#window {
  background: rgb(231, 231, 231)!important;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.26)!important;
}


/*scrollbar 1*/

::-webkit-scrollbar-thumb {
  background-color: #13615a!important;
  min-height: 50px;
  /*border-radius:2px;background-image:-webkit-linear-gradient(294deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255, 255, 255,.2) 75%,transparent 75%,transparent);min-height:50px;border-radius:5px!important;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.5)!important;*/
}

::-webkit-scrollbar {
  width: 8.5px!important;
}


/*Scrollbar */

.pane-intro:after {
  border-top: 6px solid #13615a;
}

.pane-chat-header:after, .subheader-search:after, .media-collection .btn-fill .icon {
  display: none!important;
}

.pane-list-header, .pane-header, .drawer-header, .block-message, .drawer-header-small, .drawer-header-offset {
  background-color: #186F72!important;
}


/*borde caja de texto (activa y no activa*/

.block-compose .input-container:active {
  border: 1px solid #242424!important;
}

.block-compose .input-container {
  border: 1px solid #565656!important;
}


/*no fucking idea*/

.ptt-recording * {
  color: red!important;
}


/*Slide open profile (same as bg profile)*/

.app.three {
  background: #4f4f4f!important;
}

.drawer-container-panel .drawer-section-photo {
  margin-top: 15px;
}

.drawer-body .drawer-section-photo
/*,.drawer-editable .drawer-section*/

{
  background: none!important;
}

.drawer-new-group .drawer-editable .drawer-section, .drawer-new-group .drawer-editable .drawer-section-expand {
  margin-start: 5px;
  -webkit-margin-start: 5px;
  -moz-margin-start: 5px;
}

.drawer-new-group .drawer-editable .drawer-section:nth-child(2) {
  margin-start: 50px;
  -webkit-margin-start: 50px;
  -moz-margin-start: 50px;
}


/*group components on profile*/

.ellipsify {
  color: white!important;
}


/*Bottom part of sharing a media (picture, video, ...)*/

.media-collection {
  background-color: #616161;
}

.drawer-section-expand.animate-enter2 {
  min-height: 120px;
}


/*Add a participant in a group*/

.drawer-section-expand .list-action {
  color: white;
}


/*color text a&&  color BG add a participant in a group*/

.drawer-section-expand .list-action:hover {
  color: white!important;
  background-color: #4f4f4f!important;
}

.pane-chat-body, .pane-intro, .chatlist .chat, .chatlist .location, #startup, .pane-list-body, #platforms, .media-collection>span, .drawer-section-expand, .drawer-section, .pane-chat-body, .drawer .chatlist, .media-content, .new-group-contacts, .drawer-new-group .drawer-editable, .drawer-media
/*left bar (contacts, chats, ...)*/

.drawer-body {
  background: #5b5b5b!important;
}


/*lines between selected chats and not slected chat*/

.chatlist .active.location, .chatlist .chat.active {
  border-bottom: 1px solid #3f3f3f!important;
}

.chatlist .active.location:hover, .chatlist .chat.active:hover {
  border-bottom: 1px solid #3f3f3f!important;
}

.chatlist .active.location:hover:before, .chatlist .chat.active:hover:before, .chatlist .active.location:before, .chatlist
/*delete chat popup bg && no fucking idea*/

.chat.active:before, .popup, .btn-fill {
  background-color: #5b5b5b!important;
}


/*buton mouse on "add media"*/

.btn-fill:hover {
  background-color: rgba(204, 204, 204, 0.40)!important;
}


/*lines between not selected chats*/

.chatlist .chat:hover, .chatlist .location:hover, .infinite-list-item .chat, .location, .list-action {
  border-bottom: 1px solid #4b4b4b!important;
}


/*Slide chats bg (same as left bar gb)*/

.chatlist .chat:hover:before, .chatlist .location:hover:before, .infinite-list.chatlist {
  background-color: #5b5b5b!important;
}


/*mouse on chat*/

.chatlist .chat:hover, .chatlist .location:hover, .infinite-list-item:hover {
  background: #4f4f4f!important;
}


/*selected chat*/

.active.location, .chat.active:hover, .active.location:hover, .chat.active {
  background: #3f3f3f!important;
}

.chatlist .chat:after, .chatlist .list-title:after, .new-group-preview .chat.contact {
  border-bottom: none!important;
}


/*??*/

.chat:hover:not(.active), .location:hover:not(.active) {
  background-color: inherit!important;
}


/*Titles (profile, chat, group, ...)*/

.drawer-section-title .col-side, .chat-title span, .chat-time, .drawer-section-title, .msg-search-notfound, .popup-title, .drawer-title-body, .entry-title, .entry-platform-title, .pane-header .chat-title, .chat.active .chat-title, .drawer .header-title {
  color: White!important;
}


/*header*/

.pane-chat-header, .pane-header {
  background-color: #1C8B82!important;
}


/*title on list*/

.infinite-list-item .list-title {
  background-color: #3f3f3f!important;
}


/*bg profile*/

.drawer-container-left .drawer {
  background-color: #4f4f4f!important;
}


/*bottom chat*/

.block-compose, .btn-more, .menu-tabs-emoji {
  background-color: #616161!important;
}


/*in profile separation line between subtitles and info*/

.title-underlined {
  border-bottom: 1px solid rgba(126, 126, 126, 0.42)!important;
}


/*Writing zone background*/

.block-compose .input-container, .menu-icons-item {
  background-color: #868686!important;
  color: white;
}


/*Next or before picture*/

.media-content .btn-round {
  background-color: #474747!important;
}


/*Next or before pictur mouse on button*/

.media-content .btn-round:hover {
  background-color: #3f3f3f!important;
}


/*group info*/

.chat-status .emojitext, .pane-header .chat-status .emojitext.ellipsify, .drawer-info .header-secondary {
  color: white!important;
}

.message-text,
/*text in bubble*/

.msg-unread-body {
  color: rgb(36, 36, 36)!important;
}


/*Text on menus*/

.chat-status .emojitext.ellipsify, .infinite-list-item .chat-status .emojitext:first-child, .textfield-static {
  color: white!important;
}


/*unread message*/

.chat.unread .chat-status .emojitext.ellipsify, .chat.unread .chat-status .emojitext.ellipsify {
  color: #29cbbe!important;
}


/*BG search*/

.cont-input-search, .input-search, .pane-subheader {
  background-color: #868686!important;
  color: white;
}

.cont-input-search {
  width: 440px!important;
  padding-top: 1px!important;
}

.subheader-search.active, .pane-chat-footer, .chat.media-chat {
  border: none!important;
  box-shadow: none!important;
}

.input-search {
  margin-right: 0!important;
  height: 48px!important;
}

.subheader-search {
  height: 50px!important;
}

.drawer-new-group .input-advanced, .drawer-new-group .input-line, .textfield-editable .input-advanced {
  border-bottom: 1px solid #474747;
  width: 290px!important;
  overflow-y: inherit!important;
}


/*Line bottom write zone "new group"*/

.input-advanced.active {
  border-bottom: 1px solid #ccc!important;
}


/*New group message*/

.placeholder {
  color: #1f1f1f!important;
}


/*Estado*/

.input-advanced .input-line, .input-line input {
  color: white!important;
}


/*no fucking idea*/

::-webkit-input-placeholder {
  color: green;
}

:-moz-placeholder {
  color: purple;
  opacity: 1;
}

::-moz-placeholder {
  color: pink;
  opacity: 1;
}

:-ms-input-placeholder {
  color: yellow;
}


/*No fucking idea*/

.list-names .chat, .list-names .location {
  background-color: red!important;
}


/*no fucking idea*/

.list-names .chat:hover, .list-names .location:hover {
  background-color: red!important;
}


/*no fucking idea*/

.list-names .chat-controls:hover {
  background-color: red!important;
}


/*Menu desplegables*/

.dropdown {
  box-shadow: 0px 0px 11px #242424!important;
  background-color: #242424!important;
}


/*Menu desplegables bg option mouse on && text*/

.dropdown .menu-item a:hover {
  background-color: #474747;
  color: white!important;
}


/*Text on menu desplegable*/

.dropdown .menu-item a, .popup-body, .entry-platform-text {
  color: white!important;
}


/*Text writing on chat*/

.input-container .input {
  color: #252525!important;
}


/*Horizontal bar emoji menu*/

.menu-tabs-emoji:before {
  background-color: #1C8B82!important;
  height: 5px!important;
}


/*BG when there is a pop up*/

.media-panel, .backdrop {
  background-color: #242424!important;
}


/*emoji menu scroll down bar*/

.media-panel .emojitext {
  color: blue!important;
}


/*Header in profile picture*/

.media-panel-header, .chat.media-chat {
  background-color: #1C8B82!important;
}


/*Unread message notification on chat*/

.msg-unread-body {
  background-color: #616161!important;
}

.msg-unread {
  background-color: #616161;
}


/*lina de sota el buscador de chats*/

.infinite-list-item .list-title {
  border-bottom: 1px solid #454545!important;
}


/*no fucking idea*/

.butterbar-battery {
  background-color: #4f4f4f!important;
}


/*no fucking idea*/

.butterbar-computer, .butterbar-phone {
  background-color: cyan!important;
}


/*no fucking idea*/

.butterbar-update {
  background-color: blue!important;
}


/*no fucking idea*/

.butterbar-notification {
  background-color: blue!important;
}


/*no fucking idea*/

.butterbar-notification .butterbar-title {
  color: blue!important;
}


/*no fucking idea*/

.butterbar-notification .butterbar-text {
  color: blue!important;
}


/*Initial avatar border radius when it loads (keep at 50%)*/

.avatar-image {
  border-radius: 50%!important;
}


/*test, the normal is at 50%*/


/*no fucking idea*/

select {
  background-color: #909090!important;
  border-color: -moz-use-text-color -moz-use-text-color #909090!important;
}


/*bg send media on chat*/

.menu-icons-item:hover, .media-panel .btn-round:hover {
  background-color: #646464!important;
}


/*Icons modified*/


/*.icon-alert-battery{background-position:0 0}
.icon-alert-computer{background-position:-48px -48px}
.icon-alert-notification{background-position:-96px -96px}
.icon-alert-phone{background-position:-144px -144px}
.icon-alert-update{background-position:-192px -192px}
.icon-audio{background-position:-240px -240px}
.icon-audio-cancel{background-position:-258px -258px}
.icon-audio-cancel-noborder{background-position:-292px -292px}
.icon-audio-download{background-position:-326px -326px}
.icon-audio-pause{background-position:-360px -360px}
.icon-audio-play{background-position:-394px -394px}
.icon-audio-upload{background-position:-428px -428px}
.icon-back{background-position:-510px -510px}
.icon-back-blue{background-position:-486px -486px}
.icon-back-light{background-position:-510px -510px}
.icon-broadcast{background-position:-534px -534px}
.icon-camera{background-position:-550px -549px}
.icon-camera-light{background-position:-574px -573px}
.icon-chat{background-position:-598px -597px}
.icon-checkmark-light{background-position:-622px -621px}
.icon-chevron-left{background-position:-652px -651px}
.icon-chevron-right{background-position:-682px -681px}
.icon-clip{background-position:-712px -711px}
.icon-connection-l-light{background-position:-736px -735px}
.icon-dnd{background-position:-768px -767px}
.icon-down{background-position:-792px -791px}
.icon-download{background-position:-808px -809px}
.icon-emoji-input{background-position:-840px -841px}
.icon-emoji-nature{background-position:-860px -861px}
.icon-emoji-people{background-position:-884px -885px}
.icon-emoji-places{background-position:-908px -909px}
.icon-emoji-recent{background-position:-932px -933px}
.icon-emoji-symbols{background-position:-956px -957px}
.icon-emoji-things{background-position:-980px -981px}
.icon-error{background-position:-1004px -1005px}
.icon-forward-light{background-position:-1028px -1029px}
.icon-gps-light{background-position:-1058px -1059px}
.icon-hide{background-position:-1082px -1083px}
.icon-image{background-position:-1106px -1107px}
.icon-logo{background-position:-1130px -1131px}
.icon-marker{background-position:-1194px -1195px}
.icon-media-cancel{background-position:-1218px -1219px}
.icon-media-download{background-position:-1262px -1263px}
.icon-media-download-noborder{background-position:-1310px -1311px}
.icon-media-play{background-position:-1358px -1359px}
.icon-media-upload{background-position:-1406px -1407px}
.icon-media-upload-noborder{background-position:-1454px -1455px}
.icon-menu{background-position:-1502px -1503px}
.icon-minus{background-position:-1526px -1527px}
.icon-msg-audio-light{background-position:-1554px -1555px}
.icon-msg-check{background-position:-1570px -1573px}
.icon-msg-check-light{background-position:-1586px -1588px}
.icon-msg-dblcheck{background-position:-1602px -1603px}
.icon-msg-dblcheck-ack{background-position:-1618px -1618px}
.icon-msg-dblcheck-ack-light{background-position:-1634px -1633px}
.icon-msg-dblcheck-light{background-position:-1650px -1648px}
.icon-msg-time{background-position:-1666px -1663px}
.icon-msg-time-light{background-position:-1682px -1678px}
.icon-msg-video-light{background-position:-1698px -1693px}
.icon-muted{background-position:-1714px -1711px}
.icon-pencil{background-position:-1730px -1729px}
.icon-platform-android{background-position:-1754px -1753px}
.icon-platform-bb{background-position:-1804px -1803px}
.icon-platform-bb10{background-position:-1854px -1853px}
.icon-platform-s40{background-position:-1904px -1903px}
.icon-platform-s60{background-position:-1954px -1953px}
.icon-platform-wp{background-position:-2004px -2003px}
.icon-plus{background-position:-2054px -2053px}
.icon-ptt{background-position:-2082px -2081px}
.icon-ptt-chat{background-position:-2106px -2105px}
.icon-ptt-in-blue{background-position:-2118px -2125px}
.icon-ptt-in-gray{background-position:-2137px -2151px}
.icon-ptt-in-green{background-position:-2156px -2177px}
.icon-ptt-out-blue{background-position:-2175px -2203px}
.icon-ptt-out-gray{background-position:-2194px -2229px}
.icon-ptt-out-green{background-position:-2213px -2255px}
.icon-refresh{background-position:-2232px -2281px}
.icon-refresh-l-light{background-position:-2256px -2305px}
.icon-refresh-light{background-position:-2288px -2337px}
.icon-round-send{background-position:-2312px -2361px}
.icon-round-send-inv{background-position:-2347px -2396px}
.icon-round-x{background-position:-2382px -2431px}
.icon-round-x-inv{background-position:-2417px -2466px}
.icon-search{background-position:-2452px -2501px}
.icon-search-light{background-position:-2476px -2525px}
.icon-send{background-position:-2500px -2549px}
.icon-send-light{background-position:-2524px -2573px}
.icon-share{background-position:-2548px -2597px}
.icon-smiley{background-position:-2580px -2629px}
.icon-status-audio{background-position:-2604px -2653px}
.icon-status-check{background-position:-2620px -2673px}
.icon-status-dblcheck{background-position:-2638px -2691px}
.icon-status-dblcheck-ack{background-position:-2656px -2709px}
.icon-status-image{background-position:-2674px -2727px}
.icon-status-location{background-position:-2690px -2747px}
.icon-status-ptt-blue{background-position:-2706px -2767px}
.icon-status-ptt-gray{background-position:-2722px -2787px}
.icon-status-ptt-green{background-position:-2738px -2807px}
.icon-status-time{background-position:-2754px -2827px}
.icon-status-vcard{background-position:-2772px -2845px}
.icon-status-video{background-position:-2788px -2865px}
.icon-user{background-position:-2804px -2885px}
.icon-x{background-position:-2892px -2973px}
.icon-x:hover,
.icon-x-light:hover{background-position:-2828px -2909px}
.icon-x-alt{background-position:-2852px -2933px}
.icon-x-alt:hover{background-position:-2870px -2915px}
.icon-x-alt-small{background-position:-2876px -2957px}
.icon-x-light{background-position:-2892px -2973px}
.icon-x-viewer{background-position:-2916px -2997px}
.icon-checkmark{background-position:-624px -623px!important}
.icon-add-user{background-position:-340px -13px!important;}
.sprite-loaded
.icon,.sprite-loaded
.icon-s,.sprite-loaded
.icon-l,.sprite-loaded
.icon-xl,
.icon-user-default,
.icon-broadcast-default,
.icon-group-default,
.icon,
.icon-s,
.icon-l,
.icon-xl{background-image:url(https://i.imgur.com/GJYjiFc.png);background-size:inherit!important;}
*/

.icon-down {
  background-image: url(https://i.imgur.com/gz4jr7a.png)!important;
  background-position: inherit!important;
}

.icon-user-default, .icon-broadcast-default {
  background-position: -108px -10px!important;
}

.icon-group-default {
  background-position: -173px -10px!important;
}

.pane-header .icon-user-default, .pane-header .icon-broadcast-default {
  background-position: -234px -10px!important;
  margin-top: -3px;
}

.pane-header .icon-group-default {
  background-position: -285px -10px!important;
  margin-top: -3px;
}

.drawer-section-photo .icon-user-default, .new-group-preview .icon-user-default, .media-viewer .icon-user-default {
  background-image: url(https://i.imgur.com/DR7JELP.png);
  background-position: center!important;
  background-size: contain!important;
}

.drawer-section-photo .icon-group-default, .avatar-picker .icon-group-default {
  background-image: url(https://i.imgur.com/yaINDZk.png);
  background-position: center!important;
  background-size: contain!important;
}


/*mouse on picture profile and group*/

.avatar-overlay {
  background-color: rgba(192, 192, 192, 0.50);
}


/*no fucking idea*/

.intro-image {
  border-radius: 50%!important;
}


/*test, the normal is at 50%*/


/*no fucking idea*/

.block-message {
  color: pink!important;
}

.chatlist .icon:first-child {
  margin-right: 5px!important;
  margin-top: -1px!important;
}

span.icon.icon-down.btn-context {
  margin-right: -5px!important;
  margin-top: 0!important;
}

.btn-context {
  margin-start: 2px;
  -webkit-margin-start: 2px;
  -moz-margin-start: 2px;
}


/*search by text "search or start a new chat" message*/

.input-placeholder {
  color: #c7c7c7!important;
}


/*write a text "write a message" message*/

.pane-footer .input-placeholder {
  color: #252525!important;
}


/*Border box search*/

.cont-input-search, .subheader-search.active .cont-input-search {
  border-color: #868686;
}


/*no fucking idea*/

.hint, .entry-subtitle, .toggle span {
  color: black!important;
}

.cont-input-search .input-placeholder, .chatlist .is-unread .chat-status, .chatlist .is-unread .header-secondary, .chatlist .is-unread .location-secondary, .chatlist .unread .chat-status, .chatlist .unread .header-secondary, .chatlist .unread .location-secondary, .drawer-value, .textfield-value
/*no fucking idea*/

.emojitext {
  color: pink!important;
}


/*Name of who have write in a grouo in the left bar notification message*/

.chatlist .chat-status-name, .chatlist .chat-status-divider {
  color: #eaeaea!important
}


/*no fucking idea*/

.chat .chat-status.typing .emojitext.ellipsify, .chat-status [title*="typing…"].emojitext.ellipsify, .chat-status [title*="escribiendo"].emojitext.ellipsify, .chat-status [title*="train"].emojitext.ellipsify, .chat-status [title*="typen"].emojitext.ellipsify, .chat-status [title*="digitando"].emojitext.ellipsify, .chat-status [title*="schreibt"].emojitext.ellipsify, .chat-status [title*="pisze"].emojitext.ellipsify, .chat-status [title*="scrivendo"].emojitext.ellipsify, .chat-status [title*="scrie"].emojitext.ellipsify, .chat-status [title*="mengetik"].emojitext.ellipsify, .chat-status [title*="audio"].emojitext.ellipsify {
  color: #07bc4c!important;
}

[title*="typing…"], [title*="escribiendo"], [title*="train"], [title*="typen"], [title*="digitando"], [title*="schreibt"], [title*="scrivendo"], [title*="pisze"], [title*="scrie"], [title*="mengetik"], [title*="audio"] {
  /*font-weight: bold;*/
}


/*Bubbles*/


/*.message-in{background-color:gray!important;}
.message-in:before {background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAYAAADeB1slAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEWDi0oeK/6tgAAALJJREFUSMftl0EOwjAMBMe0cOAPfkX+/xr/gQsHcwpCIiSkjQVVaynXHe/GlhJxd3KJCKPKzBzgRHCFAHL323VwAA7A3gGvW3xE1IxnWw5K3Q8DfBIfAqiJ//8dtLoHmKOEFzvoEe9y0Cv8NWCpcBWwVvS3Yzqy+yJAVSV80VR1WHTSeL4LMJnZPQrwBgPOZnaLAJTinYC5CnT351kbdwYCl5TS1cxcor5QeeTDFy3UAcADaHxiHvdoSs0AAAAASUVORK5CYII=');}
.color-17{color:red!important;}*/


/*.app-wrapper::before,*/

.app-wrapper {
  background: rgb(68, 68, 68)!important;
}

.app-wrapper::before, #wrapper:before, .message-in .btn-context {
  background-color: transparent!important;
}

.message-in .btn-context:after {
  background: transparent!important;
}

.message-in .btn-context {
  top: 2px;
  right: 15px;
}


/*background*/

.app-wrapper {
  background-color: #242424!important;
  background-size: cover!important;
}


/*chat background*/

.pane-chat-body {
  background-color: #444444!important;
  background-size: cover!important;
  border: none!important;
}
