/* @source https://userstyles.org/styles/111821/whatsapp-clean-white */

.avatar-image, .intro-image {
  display: none
}

.app-wrapper::before {
  background-color: #FFFFFF;
}

.icon-user-default, .icon-user-default-square, .icon-group-default, .icon-broadcast-default, .bubble-attach .preview-vcard.no-image {
  background-image: none;
}

.pane-header {
  background-color: #fff;
}

body {
  background-color: #f4f4f4;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(top, #fff, #fff);
}

.pane-chat, .drawer-container-right, .pane-intro {
  background-image: none;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}

.message-out {
  background-color: #F5F5F5;
}

.chat-avatar, .avatar-image, .avatar {
  width: 1px;
}

.pane-intro:after {
  border-top: none
}

.app-wrapper::after {
  background-color: #dfdfdf
}
