pkgbase = {{ name }}
	pkgdesc = {{ description }}
	pkgver = {{ version }}
	pkgrel = {{ buildNum }}
	url = {{ homepage }}
	install = .INSTALL
	arch = x86_64
	license = {{ license }}
	depends = desktop-file-utils
	depends = gconf
	depends = gtk2
	depends = gvfs
	depends = hicolor-icon-theme
	depends = libgudev
	depends = libgcrypt
	depends = libnotify
	depends = libxtst
	depends = nss
	depends = python
	depends = xdg-utils
	depends = libcap
	optdepends = hunspell: spell check
	options = !docs
	options = !emptydirs
	source = {{ name }}-{{ version }}-linux-amd64.deb::https://github.com/Aluxian/Whatsie/releases/download/v{{ version }}/{{ name }}-{{ version }}-linux-amd64.deb
	md5sums = caeedca3cc47ab414923c1ffa9ec9fca

pkgname = {{ name }}
